:root {
    --background: #000;
    --foreground: #fff;
}

@font-face {
    font-family: "adam";
    font-style: normal;
    font-weight: normal;
    src: local("adam"), url("/assets/font.otf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--foreground);
    background: var(--background);
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 100vh;
}

.inner-column {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30%;
}

.row:after {
    height: 100%;
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-family: "adam", serif;
    font-size: 12px;
    padding-bottom: 5px;
    border-bottom: 3px white solid;
}

a {
    font-size: 30px;
    display: block;
    transition: 0.1s;
    padding: 3px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    background: white;
    color: black;
}

.button {
    background: #005bbb;
    color: white;
    font-weight: bolder;
    padding: 15px;
    border: none;
    width: 100px;
    border-bottom: 30px #ffd500 solid;
    position: fixed;
    left: 15px;
    bottom: 15px;
    font-family: 'Roboto', sans-serif;
}
